table,
th,
td {
  border: 1px solid #dddddd4d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
}

tr:nth-child(odd) {
  background-color: #2f2f2f2f;
}

button {
  min-width: 40px;
  color: white;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #332f3f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}