body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b1020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f12a;
}

::-webkit-scrollbar-thumb {
  background: #888;
  width: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.responsible{
  max-width: 100%;
  overflow-x: auto;
}
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
